<div class="am-vertical-align" id="interface">
    <div class="am-vertical-align-middle">
            <div class="am-g-collapse">
              <form method="POST" class="am-form" role="form" action="{{ projHomeURI }}">
                    <div class="am-u-sm-1" style="height: 10px;"></div>
                    <div class="am-u-sm-8">
                        <div class="am-form-group am-form-icon am-form-group-md " id="functional-area">
                            <i class="am-icon-link am-icon-fw"></i>
                            <input id="uri" type="text" class="am-form-field am-input-md" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;请输入带有TXT记录的域名" name="request">
                        </div>
                    </div>
                    <div class="am-u-sm-2">
                        <button id="submit-btn" type="submit" class="am-btn am-btn-primary am-btn-lg"><i class="am-icon-download"></i> 提 交</button>
                    </div>
                </form>
            </div>
    </div>
</div>
