<script>
// Auto ajust to browser view size
$(document).ready(function() {
    var header_height = $('#collapse-head').height();
    var footer_height = $('#footer-fixed').height();
    var content_height = $(window).height() - header_height - footer_height;
    var content_width = $(window).width();
    //高度修正
    $('.am-vertical-align-middle').css('width', '100%');
    $('.am-vertical-align').css('height', '100%');

    //宣传语自适应
    if (content_height < 400 || $(window).width() < 400) {
        $('.autoajust-text').css('font-size', '120%');
    }

    //高度自适应
    if (content_height < 400) {
        $('#autoajust-logo').css('display', 'none');
        $('#banner').css('height', content_height * .50);
    } else {
        $('#autoajust-logo').css('width', '75%');
        var correct_height = $('#autoajust-logo').innerWidth();
        $('#autoajust-logo').css('height', correct_height / 10 * 3);
        $('#banner').css('height', content_height * .70);
    }
    $('.am-topbar-right').css('height', header_height);
    $('#interface').css('height', content_height * .20);

});

$(window).resize(function() {
    //获取新数值
    var header_height = $('#collapse-head').height();
    var footer_height = $('#footer-fixed').height();
    var content_height = $(window).height() - header_height - footer_height;
    var content_width = $(window).width();

    //宣传语自适应
    if (content_height < 400 || $(window).width() < 400) {
        $('.autoajust-text').css('font-size', '120%');
    } else {
        $('.autoajust-text').removeAttr('style');
    }

    //高度自适应
    if (content_height < 400) {
        $('#autoajust-logo').css('display', 'none');
        $('#banner').css('height', content_height * .50);
    } else {
        $('#autoajust-logo').css('display', 'block');
        $('#autoajust-logo').css('width', '75%');
        var correct_height = $('#autoajust-logo').innerWidth();
        $('#autoajust-logo').css('height', correct_height / 10 * 3);
        $('#banner').css('height', content_height * .70);
    }
    $('.am-topbar-right').css('height', header_height);
    $('#interface').css('height', content_height * .20);
});
</script>
