        <!-- Get the contents via https://buttons.github.io -->
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/imdjh/txtproxy" data-style="mega" data-count-href="/imdjh/txtproxy/stargazers" data-count-api="/repos/imdjh/txtproxy#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star imdjh/txtproxy on GitHub">Star</a>
        <a aria-label="Fork imdjh/txtproxy on GitHub" data-style="mega" data-icon="octicon-git-branch" href="https://github.com/imdjh/txtproxy/fork" class="github-button">Fork</a>
        <a aria-label="Download imdjh/txtproxy on GitHub" data-style="mega" data-icon="octicon-cloud-download" href="https://github.com/imdjh/txtproxy/archive/master.zip" class="github-button">Download</a>
